[data-theme = "light"] {
    --arrow: url(../img/angle-up-solid\ \(1\).svg);
    --searchIcon: url(../img/magnifying-glass-solid\ \(1\).svg);
    --arrow-right: url(../img/arrow-left-solid.svg);
    --text: hsl(200, 15%, 8%); /* Light Mode Text */
    --inputText: hsl(0, 0%, 52%); /* Light Mode Input */
    --white: hsl(0, 0%, 100%);
    --background: hsl(0, 0%, 98%); /* Light Mode Background */
}

[data-theme = "dark"] {
    --arrow: url(../img/angle-up-solid\ \(2\).svg);
    --searchIcon: url(../img/magnifying-glass-solid.svg);
    --arrow-right: url(../img/arrow-left-solid\ \(1\).svg);
    --text:  hsl(0, 0%, 100%);
    --inputText: hsl(0, 0%, 52%); /* Light Mode Input */
    --white: hsl(209, 23%, 22%); /* Dark Mode Elements */
    --background: hsl(207, 26%, 17%); /* Dark Mode Background */
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
}

body {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: inherit;
    background-color: var(--background);
}

a {
    text-decoration: none;
    color: var(--text);
}

.error {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 32rem;
    position: fixed;
    top: 20%;
    right: 2%;
    padding: 1rem 2rem;
    background-color: red;
    transition: all .5s ease-in;
}

.error-hidden {
    transform: translateX(80%);
    opacity: 0;
}

.error img{ 
    width: 4rem;
    height: 4rem;
}

.error-msg{ 
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
}

.hidden {
    display: none;
  }

@media only screen and (max-width: 37.5rem) { 
    .error-msg{ 
        font-size: 2rem;
    }
}